        <div class="span12">
          <div class="row-fluid">
            <div class="span3 s_left"> 
              <div>


            <div>
                   Datos Cliente
            </div>
            <div>
              Cliente: <%= @customer.lastname + ",  "+ @customer.name %>
            </div>
          </div>
        <div class="span8 tickets"> 
          <div>
              <h4>#<%= @tickets.id %> [ <%= @tickets.issue %> ] - <%= @tickets.status? ? 'Close': 'Open' %> </h4>
                <p>Mensaje:</p>
                   <pre><%= @tickets.message%><p class="pull-right"><%= l @tickets.created_at, :format => :long %></p></pre>

                <table>
                    <tr><td>Datos</td>
                    </tr>
                
                         <% @tickets_answers.each do |ta| %>
                      <tr>
                        <td><%= ta.message %></td>
                      </tr>
                        <% end %>

                  </table>
            </div>
          </div>
        </div>
      </div>
