<h1><%= t('equipment.listing.title') %></h1>

<table class="table">
  <tr>
    <th><%= Equipment.human_attribute_name('mac') %></th>
    <th><%= Equipment.human_attribute_name('status') %></th>
    <th><%= Equipment.human_attribute_name('comment') %></th>
    <th><%= Equipment.human_attribute_name('model') %></th>
    <th><%= Equipment.human_attribute_name('supplier') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @equipments.each do |equipment| %>
  <tr>
    <td><%= equipment.mac %></td>
    <td><%= equipment.status %></td>
    <td><%= equipment.comment %></td>
    <td><%= equipment.model.name %></td>
    <td><%= equipment.supplier_id %></td>
    <td><%= link_to t('labels.show'), equipment %></td>
    <td><%= link_to t('labels.edit'), edit_equipment_path(equipment) %></td>
    <td><%= link_to t('labels.destroy'), equipment, method: :delete, data: { confirm: t('labels.are_you_sure') } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('view.equipment.new_equipment'), new_equipment_path %>
