<p id="notice"><%= notice %></p>

<p>
  <b><%= Equipment.human_attribute_name('mac')%>:</b>
  <%= @equipment.mac %>
</p>

<p>
  <b><%= Equipment.human_attribute_name('status')%>:</b>
  <%= @equipment.status %>
</p>

<p>
  <b><%= Equipment.human_attribute_name('comment')%>:</b>
  <%= @equipment.comment %>
</p>

<p>
  <b><%= Equipment.human_attribute_name('model')%>:</b>
  <%= @equipment.model_id %>
</p>

<p>
  <b><%= Equipment.human_attribute_name('supplier')%>:</b>
  <%= @equipment.supplier_id %>
</p>


<%= link_to t('labels.edit'), edit_equipment_path(@equipment) %> |
<%= link_to t('labels.back'), equipment_index_path %>
