<p id="notice"><%= notice %></p>
<table class="table">
  <tr>
          <th>Id</th>
          <th>mac</th>
          <th>name</th>
          <th>customer</th>
          <th>date created at</th>
          <th>date update_at</th>
  </tr>


        
<% @loan.each do  |l|  %>

  <tr>
          <td><%= l.id %></td>
          <td><%= l.equipment.mac %></td>
          <td><%= l.equipment.model.name %></td>
          <td><%= l.customer.lastname + ", " + l.customer.name %></td>
          <td><%= l l.created_at, format: :minimal %></td>
          <td><%= l l.updated_at, format: :minimal %></td>
  </tr>  

  <% end %>


</table>
  





<%= link_to t('labels.edit'), edit_equipment_path(@equipment) %> |
<%= link_to t('labels.back'), equipment_index_path %>
