<%= simple_form_for @customer, :defaults =>{:input_html => {:class => 'span10'}} do |f| %>
  <div class="container"> 
    <div class="form-inputs">
      <div class="row-fluid">
  <%= f.error_notification %>
  <div class="span5">
    <%= f.input :name, :required=> true, :autofocus=>true %>
    <%= f.input :lastname,   :required=> true, :hint => 'no special characteres' %>
    <%= f.input :address,  :required=> true %>
    <%= f.input :neighborhood%>
    <%= f.input :reference_direction%>
    <%= f.input :email,  placeholder: 'user@domain.com'%>
    <%= f.input :dni%>
    <div class="fields">
    <%= f.simple_fields_for :phones do |ph| %>
       <%=render 'phones', f: ph  %>
     <% end %>
    <%= link_to_add_fields t('view.customers.add_phones'), f , :phones %>
  </div>
  </div>

  <div class="span5">
   <%= f.input :location_id do %>
     <%= f.select :location_id,  Location.all.map {|l|[l.name, l.id]}, prompt: t('view.customers.prompt_location') %>
   <% end  %>
   <%= f.input :plan_id do %>
     <%= f.select :plan_id,  Plan.all.map {|p|[p.name + " - " + p.download_speed , p.id]}, prompt: t('view.customers.prompt_plans') %>
   <% end  %>
  
   <%= f.input :description, :input_html => {:rows => 5}%>
    <%= f.input :cuit%>
    <%= f.input :date_of_birth, start_year: Date.today.year - 90, order: [:day, :month, :year], :input_html =>{:width => '100px', :class => 'span2'}%>
    <%= f.select :category, Customer::CATEGORY%>
   </div>
</div>
</div>
</div>
<div class="form-actions">
    <%= f.submit 'Save', :class => 'btn btn-primary' %>
  </div>
<% end %>
