<fieldset>
  <div class="span12">
  <%= f.label :phone_number, t('view.customers.phone_number')%>
  
  <%= f.select :phone, ["", "Casa", "Movil", "Trabajo"], {}, class: "select_i"%>
  ( <%= f.text_field :phone_prefix, class: "span2"  %> ) - 
  <%= f.text_field :phone_number, class: "span3" %>
  <%= f.hidden_field :_destroy %>

  <%= link_to  t('view.customers.remove_phone'), '#', class: "remove_fields" %>
  </div>
 </fieldset>
