<% if flash[:error] %>
  <li class="alert alert-error"><%= flash[:error]  %></li>
  <% end %>
<% if notice %>
  <li class="alert alert-success"><%= notice  %></li>
  <% end %>
<h1>Editing customer</h1>
<%= render 'form' %>
<%= link_to 'Show', @customer %> |
<%= link_to 'Back', customers_path %>
