<div class="span12">
  
<%= form_tag '', :method =>'get' do %>
    <%= text_field_tag :lastname %>
      <%= submit_tag "search" %>
    <% end %>
<% if flash[:error] %>
  <li class="alert alert-error"><%= flash[:error]  %></li>
  <% end %>
<% if notice %>
  <li class="alert alert-success"><%= notice  %></li>
  <% end %>
  
    <h1><%= t "customers.title" %></h1>
<% if @customers %>
  
  <thead>
 <table class="table">
  <tr>
    <th><%= Customer.human_attribute_name(:name)   %></th>
    <th><%= Customer.human_attribute_name(:lastname) %></th>
    <th>address</th>
    <th>Neighborhood</th>
    <th>Reference direction</th>
    <th>Description</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.name %></td>
    <td><%= customer.lastname %></td>
    <td><%= customer.address %></td>
    <td><%= customer.neighborhood %></td>
    <td><%= customer.reference_direction %></td>
    <td><%= customer.description %></td>
    <td><%= customer.category %></td>
    <td><%= link_to 'Show', customer %></td>
    <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
    <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= link_to 'Loans', customer_loans_path(customer.id) %></td>
  </tr>
  <% end %>
</table>
  </thead>
<% end %>
<br />
<div class="span12 ">
<% ##if can? :new, @customers %>
  <%= link_to 'New Customer', new_customer_path %>
  <% #end %>
  </div>
  </div>
