<%= simple_form_for [@customer, @ticket] do |f| %>
<div class="container">
	  <div class="form-inputs">
      <div class="row-fluid">
        <div class="span5"> 
            <%= f.error_notification %>
            <%= f.hidden_field :parent_id %>
	          <%= f.input :issue, :input_html => { :value => @ticket.issue  } %>
            <%= f.input :message, :input_html=>{:rows =>5, :cols=>60}, :class=>'span5' %>
            <%= f.input :role_id do %>
            <%= f.select :role_id,  Role.all.map {|l|[l.role, l.id]}, prompt: 'Seleccione el Departamento' %>
            <% end %>

            <%= f.input :priority do %>
            <%= f.select :prioritycss, Ticket::PRIORITY %>
              <%end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  </div>
  </div>
  </div>
<% end %>
