  <pre>
  <table class="table">
          <tr>
            <td>[<%= ticket.issue %>]</td>
            <td><%= ticket.message %></td>
            <td><%= ticket.created_at.strftime("%B %d, %Y") %></td>
            <td><%= ticket.status %></td>
            <td><%= ticket.priority %></td>
            <td><%= ticket.ticket_and_role.last do |u| u.role end %></td>
            <td><%= link_to t('labels.edit'), edit_customer_ticket_path(ticket.customer.id, ticket) %></td>
          </tr>
  </table>
</pre>
  
