  <tr>
    <td><%= ticket.id %></td>
    <td><%=link_to_unless_current ticket.issue, edit_customer_ticket_path(ticket.customer.id, ticket)%></td>
    <td><%= ticket.created_at.strftime("%B %d, %Y") %></td>
    <td><%= ticket.status %></td>
    <td><%= ticket.role.last %></td>
    <td><%= ticket.priority %></td>
    <td><%= ticket.user %></td>
    
    <td><% link_to "Reply", new_customer_ticket_path(:parent_id => ticket) %></td>
    <td><%= link_to 'Show', customer_history_ticket_path(ticket.customer.id, ticket) %></td>
    <td><%= link_to 'edit', edit_customer_ticket_path(ticket.customer.id, ticket) %></td>
    <td><%= link_to 'Destroy', customer_ticket_path(ticket.customer.id, ticket), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  
