<h1>Listing tickets all</h1>
  <div class="span3">
     <div>
       <h4> View</h4>
     </div>
      <table class="table">
      <tr>
          <td><%= link_to "tickets pendientes", "#" %></td>
          <td><span class="badge"><%= @tickets.count %></span></td>
      </tr>  
      <tr>  
        <td><%= link_to "tickets Urgentes", "#" %></td>
        <td><span class="badge"><%= @tickets_urgent.count %></span></td>
      </tr>
  </table>
    </div>
  <div class="span10">
   <h4> Incidencias sin resolver (<%= @tickets.count  %>)</h4>
  <table class="table">
      <th>#</th>
      <th>Issue</th>
      <th>Customer</th>
      <th>Created at</th>
      <th>priority</th>
    <% @tickets.each do |ticket| %>       
      <tr>
        <td><%= ticket.id %></td>
        <td><li class="<%= ticket.prioritycss %>">  </li></td>
        <td><%= link_to ticket.customer.lastname + ", "+ ticket.customer.name, edit_customer_ticket_path(ticket.customer.id, ticket) %></td>
        <td><%= ticket.created_at %></td>
        <td><%= ticket.priority %></td>
    <tr>
    <% end %>
  </table>
  </div>

