<h1>Listing tickets all</h1>
<table class="table">
  <tr>
    <th>#</th>
    <th>Customer</th>
    <th>Issue</th>
    <th>Message</th>
    <th>Status</th>
    <th>Área</th>
    <th>Priority</th>
    <th>Reply</th>
    <th>User</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.id %></td>
    <td> <%= link_to ticket.customer.lastname + ", "+ ticket.customer.name, customer_ticket_path(ticket.customer.id, ticket) %>   <%  %></td>
    <td><%= ticket.issue %></td>
    <td><%= ticket.message %></td>
    <td><%= ticket.status? ? 'Cerrado': 'Pendiente' %></td>
    <td><%= ticket.role.role %></td>
    <td><%= ticket.priority %></td>
    <td><%= ticket.reply %></td>
    <td><%= ticket.user_id %></td>

  </tr>
<% end %>
</table>
<br />
