<h1><%= t('tickets.listing.title')%></h1>
<h3>Apellido y Nombre: <%= @customer.lastname + ", "+ @customer.name %></h3>
<table class="table">
  <tr>
    <th><%= Ticket.human_attribute_name('id') %></th>
    <th><%= Ticket.human_attribute_name('issue') %></th>
    <th><%= Ticket.human_attribute_name('date')%></th>
    <th><%= Ticket.human_attribute_name('status') %></th>
    <th><%= Ticket.human_attribute_name('departament')%></th>
    <th><%= Ticket.human_attribute_name('priority')%></th>
    <th><%= Ticket.human_attribute_name('usuario') %></th>
    <th><%= Ticket.human_attribute_name('subticket')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= nested_tickets @tickets.arrange(:order => :created_at) %>

</table>
<%= link_to 'New Ticket', new_customer_ticket_path %>
