
<div> <% nested_sub_tickets @ticket.path.arrange() %></div>
  <div class="label label-info span8">
        <h2>#<%= @ticket.id %>
        [ <%= @ticket.issue %> ] </h2>
        <h4>Cliente: <%= @customer.lastname + ", "+ @customer.name %></h4>
        <pre><%= @ticket.message%></pre>
        <h4 class="btn"><%= link_to "Responder", edit_customer_ticket_path(@customer.id, @ticket) %></h4>
</div>
<table class="table">
  <tr>
    <th>Issue</th>
    <th>Date</th>
    <th>Status</th>
    <th>Departament</th>
    <th>Priority</th>
    <th>User</th>
    <th>Subticket</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <%= nested_sub_tickets @ticket.children.arrange() %>

</table>
