<%= simple_form_for([@customer, @ticket]) do |f,| %>

<div class="span14">
  <div class="span4"> 
   <div>
           Datos Cliente
   </div>
    <div>
      Cliente: <%= @customer.lastname + ",  "+ @customer.name %>
    
  </div>
  </div>

<div class="span9"> <% nested_sub_tickets @ticket.path.arrange() %>
  <div>
        <h4>#<%= @ticket.id %>[ <%= @ticket.issue %> ] </h4>
        <p>Mensaje:</p>
           <pre><%= @ticket.message%><p class="pull-right"><%= l @ticket.created_at, :format => :long %></p></pre>

         <p>Respuesta:</p>
            <%= f.simple_fields_for :ticket_answer do |builder| %>
             <%=builder.text_area :message, :rows => 3, :cols  => 70  %>
      <% end %>
      <div class="btn-group dropup pull-right">
          <%= f.button :submit, :class =>'btn btn-primary' %>
          <% f.button :submit, :class =>'btn btn-primary' %>
          <button class="btn dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
              <li><%= link_to "Solved", customer_tickets_path(status: true) %> </li>
              <li><%= link_to "Visit Technical", "#" %></li>
          </ul>    



      </div>
  </div>
</div>
          
    <% end %>

