
<div> <% nested_sub_tickets @ticket.path.arrange() %></div>
  <div class="label label-info span12">
        <h2>#<%= @ticket.id %>
        [ <%= @ticket.issue %> ] </h2>
        <h4>Cliente: <%= @customer.lastname + ", "+ @customer.name %></h4>
            <p>Mensaje:</p>
            <pre><%= @ticket.message%>
                <p class="pull-right"><%= l @ticket.created_at, :format => :long %></p>
            </pre>
        <% if @ticket.reply? %>
        <p>Respuesta:</p>
        <pre class="span6 pull-right">
                <%= @ticket.reply %>
                <p class="pull-right"><%=l @ticket.updated_at, :format => :long %></p>
        </pre>
        <% end %>
        <%if !@ticket.status  %>
        <div class="span8"><h4 class="btn "><%= link_to "Responder", customer_reply_path(@customer.id, @ticket) %></h4></div>
        <% end %>
</div>
 



 <%= nested_sub_tickets @ticket.children.arrange() %>

