<div class="span3">
        <%= render "view" %>
</div>


<div class="span10">
  <h4> Incidencias sin resolver (<%= @tickets_all.count  %>)</h4>
  <table class="table">
      <th>#</th>
      <th>Issue</th>
      <th>Customer</th>
      <th>Created at</th>
      <th>priority</th>
    <% @tickets_technical_visit.each do |ticket| %>       
      <tr>
        <td><%= ticket.id %></td>
        <td><li class="<%= ticket.prioritycss %>">  </li></td>

        <td><%= link_to ticket.customer.lastname + ", "+ ticket.customer.name,  customer_reply_path(ticket.customer.id, ticket)%></td>
        <td><%= ticket.created_at %></td>
        <td><%= ticket.priority %></td>
        <td><%= link_to "Imprimir", customer_ticket_path(ticket.customer.id, ticket.id, format: "pdf") %></td>
    <tr>
    <% end %>
  </table>
  </div>
