<%= simple_form_for [@customer, @loan] do |f| %>
<h2><%= Loan.human_attribute_name('customer') %>: <%= @customer.lastname + ", " +@customer.name  %></h2>

  <%= f.error_notification %>

  <div class="form-inputs">
    <% if params[:action] == 'new' %>
    <%= f.input :equipment  do%>
       <%=f.select :equipment_id, Equipment.where(status:'1').map {|e|[e.mac, e.id]}, prompt: "Seleccione una mac"  %>
    <% end %>
   <% elsif params[:action] == 'edit' %>
      <%= f.input :equipment  do%>
         <%=f.select :equipment_id, Equipment.all.map {|e|[e.mac, e.id]}, prompt: "Seleccione una mac"  %>
      <% end %>
    <% end %>
    <%= f.input :confirmation_loan %>
    <%= f.input :comment, :input_html => {:rows => 5} %>
    <%= f.input :technician do %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
