<h1><%= t('loans.listing.title') %></h1>
<h3><%= Loan.human_attribute_name('customer') %>: <%= @customer.lastname + ", "+ @customer.name %></h3>
<table class="table">
  <tr>
    <th><%= Loan.human_attribute_name('equipment')%></th>
    <th><%= Loan.human_attribute_name('status_loan')%></th>
    <th><%= Loan.human_attribute_name('confirmation_loan')%></th>
    <th><%= Loan.human_attribute_name('comment')%></th>
    <th><%= Loan.human_attribute_name('Usuario')%></th>
    <th><%= Loan.human_attribute_name('technician')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loans.each do |loan| %>
  <tr>
    <td><%= loan.equipment.mac + " - " + loan.equipment.model.name %></td>
    <td><%= loan.status_loan? ? 'VIGENTE': 'NO VIGENTE' %></td>
    <td><%= loan.confirmation_loan %></td>
    <td><%= loan.comment %></td>
    <td><%= loan.user.username %></td>
    <td><%= loan.technical_id %></td>
    <td><% link_to t('labels.show'), customer_loan_path(loan.customer.id,loan) %></td>
    <td><% link_to t('labels.edit'), edit_customer_loan_path(loan.customer.id, loan) %></td>
    <% if loan.status_loan == true %>
    <td><%= link_to t('labels.destroy'), customer_loan_path(loan.customer.id, loan), method: :delete, data: { confirm: t('labels.are_you_sure') } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
  <%= link_to t('view.loan.new_loan'), new_customer_loan_path()%>
