<p id="notice"><%= notice %></p>

<p>
  <b><%= Loan.human_attribute_name('customer')%>:</b>
  <%= @loan.customer.lastname + ", "+ @loan.customer.name  %>
</p>

<p>
  <b><%= Loan.human_attribute_name('equipment') %>:</b>
  <%= @loan.equipment.model.name%>
</p>

<p>
  <b><%= Loan.human_attribute_name('status_loan') %>:</b>
  <%= @loan.status_loan? ? 'Cerrado' : 'Pendiente' %>
</p>

<p>
  <b><%= Loan.human_attribute_name('confirmation_loan')%>:</b>
  <%= @loan.confirmation_loan %>
</p>

<p>
  <b><%= Loan.human_attribute_name('comment') %>:</b>
  <%= @loan.comment %>
</p>

<p>
  <b><%= Loan.human_attribute_name('technician') %>:</b>
  <%= @loan.technical_id %>
</p>


<%= link_to t('labels.edit'), edit_customer_loan_path(@loan.customer_id, @loan) %> |
<%= link_to t('labels.back'), customer_loans_path(@loan.customer.id) %>
