<div class="span12">
<% if flash[:error] %>
  <li class="alert alert-error"><%= flash[:error]  %></li>
  <% end %>
<h2><%= t"devise.sign_in" %></h2>

  <div class="container">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label User.human_attribute_name(:username) %>
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label User.human_attribute_name(:password) %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label User.human_attribute_name(:remember_me) %></div>
  <% end -%>

  <div><%= f.submit User.human_attribute_name("sign_in"), :class=>"btn btn-primary" %></div>

  <div>
    <%= f.label User.human_attribute_name("languaje") %>
        <ul>
          <li><%= link_to_unless_current "English", locale: "en" %></li>
          <li><%= link_to_unless_current "spanish", locale: "es" %></li>
      </ul>
    </div>
<% end %>
<%= render "devise/shared/links" %>

</div>
