<h1><%= t('categories.listing.title') %></h1>

<table class="table">
  <tr>
    <th><%= Category.human_attribute_name('name')%></th>
    <th><%= Category.human_attribute_name('comment') %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.comment %></td>
    <td><%= link_to t('labels.show'), category %></td>
    <td><%= link_to t('labels.edit'), edit_category_path(category) %></td>
    <td><%= link_to t('labels.destroy'), category, method: :delete, data: { confirm: t('labels.are_you_sure') } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('view.category.new_category'), new_category_path %>
