<%= simple_form_for @plan, :defaults => {:input_html => {:class => 'span10'}} do |f| %>
<div class ="container">
  <div class="form-inputs">
     <div class ="row-fluid">
        <%= f.error_notification %>

        <div class="span4">
          <%= f.input :name %>
          <%= f.input :price %>
          <%= f.input :price_surcharges1 %>
          <%= f.input :price_surcharges2 %>
          <%= f.input :remove %>
        </div>
        <div class="span4">  
          <%= f.input :upload_speed %>
          <%= f.input :download_speed %>
          <%= f.input :percentage_junk %>

          <%= f.input :support_priority, hint:t('view.locations.support_priority_hinit') %>

        </div>
</div>

<div class="accordion" id="accordion2">
<div class="accordion-group">
<div class="accordion-heading">
      <%= link_to "Sistema Vampiro", "#" , :class="accordion-toggle" %>

  <h3><%= t('plans.system_vampire') %></h3>  

          <%= f.input :upload_speed_vampire %>
          <%= f.input :download_speed_vampire %>
          <%= f.input :percentage_junk_vampire %>
          <%= f.input :start_time, :input_html => {:class=>'span1'} %>         
          <%= f.input :end_time, :input_html => {:class=>'span1'} %>         
</div>
</div>
</div>
     </div>
        <div class="form-actions">
          <%= f.button :submit, :class => 'btn btn-primary' %>
        </div>

  </div>
</div>
<% end %>
