<h1>Listing ips</h1>

<h3>customer: <%= @customer.lastname + ", "+ @customer.name %></h3>
<div class="tabbable">
        
  <ul class="nav nav-tabs">
    <li ><%= link_to "Comodatos", "#", "data-toggle" => "tab1" %></li>
          



<table class= "table">
  <tr>
    <th>Ip ap</th>
    <th>Ip device</th>
    <th>Plan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ips.each do |ip| %>
  <tr>
    <td><%= ip.ip_ap %></td>
    <td><%= ip.ip_device %></td>
    <td><%= link_to 'Destroy', customer_ip_path(ip.customer.id, ip), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
  </ul>
</div>

<%= link_to 'New Ip', new_customer_ip_path %>
