<p id="notice"><%= notice %></p>

<p>
  <b>Ip ap:</b>
  <%= @ip.ip_ap %>
</p>

<p>
  <b>Ip device:</b>
  <%= @ip.ip_device %>
</p>

<p>
  <b>Plan:</b>
  <%= @ip.plan_id %>
</p>


<%= link_to 'Edit', edit_ip_path(@ip) %> |
<%= link_to 'Back', ips_path %>
